{%- for record in ztp_records %}
Host {{ record.ipv4_address }} {{ record.node_name }} {{ record.node_name }}.{{ SHERPA_DOMAIN_NAME }}
    HostName {{ record.ipv4_address }}
    Port {{ record.ssh_port }}
    User {{ SHERPA_USERNAME }}
    IdentityFile {{ SHERPA_BASE_DIR }}/{{ SHERPA_SSH_DIR }}/{{ SHERPA_SSH_PRIVATE_KEY_FILE }}
    IdentitiesOnly yes
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    PubkeyAcceptedAlgorithms +ssh-rsa
    HostkeyAlgorithms +ssh-rsa
    KexAlgorithms +diffie-hellman-group-exchange-sha1,diffie-hellman-group14-sha1

{%- endfor %}