<?xml version="1.0"?>

<domain type="kvm">
  <name>{{ name }}</name>

  <vcpu placement='static'>{{ cpu_count }}</vcpu>

  <memory unit='MiB'>{{ memory }}</memory>

  <resource>
    <partition>/machine</partition>
  </resource>

  <features>
    <acpi/>
  </features>

  {% match cpu_model %}
  {%   when CpuModels::HostModel %}
  <cpu mode='{{ cpu_model }}'>
  {%   else %}
  <cpu>
    <model>{{ cpu_model }}</model>
  {% endmatch %}
    <arch>{{ cpu_architecture }}</arch>
  </cpu>

  <clock offset='utc'>
    <timer name='rtc' tickpolicy='catchup'/>
    <timer name='pit' tickpolicy='delay'/>
    <timer name='hpet' present='no'/>
  </clock>

  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>

  <os>
    <type arch='{{ cpu_architecture }}' machine='{{ machine_type }}'>hvm</type>
    {% match boot_mode %}
    {%   when UnikernelBootMode::DirectKernel %}
    {%     match kernel_path %}
    {%       when Some with (kpath) %}
    <kernel>{{ kpath }}</kernel>
    {%       when None %}
    {%     endmatch %}
    {%     match kernel_cmdline %}
    {%       when Some with (cmdline) %}
    <cmdline>{{ cmdline }}</cmdline>
    {%       when None %}
    {%     endmatch %}
    {%   when UnikernelBootMode::DiskBoot %}
    <boot dev='hd'/>
    {% endmatch %}
  </os>

  <pm>
    <suspend-to-mem enabled='no'/>
    <suspend-to-disk enabled='no'/>
  </pm>

  <devices>

    <emulator>{{ qemu_bin }}</emulator>

    {% for disk in disks %}
    <disk type='file' device='disk'>
      <driver name='{{ disk.driver_name }}' type='{{ disk.driver_format }}'/>
      <source file='{{ disk.src_file }}'/>
      <target dev='{{ disk.target_dev }}' bus='{{ disk.target_bus }}'/>
    </disk>
    {% endfor %}

    {% for interface in interfaces %}
    {%   match interface.connection_type %}

    {%     when ConnectionTypes::Management %}
    <interface type='network'>
      <alias name='ua-net-{{ name }}-mgmt-{{ interface.name }}'/>
      <mtu size='{{ interface.mtu }}'/>
      <mac address='{{ interface.mac_address }}'/>
      <source network='{{ management_network }}'/>
      <model type='{{ management_interface_type }}'/>
    </interface>

    {%     when ConnectionTypes::Reserved %}
    <interface type='network'>
      <alias name='ua-net-{{ name }}-reserved-{{ interface.name }}'/>
      <mtu size='{{ interface.mtu }}'/>
      <mac address='{{ interface.mac_address }}'/>
      <source network='{{ reserved_network }}'/>
      <model type='{{ reserved_interface_type }}'/>
      <link state='up'/>
    </interface>

    {%     when ConnectionTypes::Disabled %}
    <interface type='network'>
      <alias name='ua-net-{{ name }}-disabled-{{ interface.name }}'/>
      <mtu size='{{ interface.mtu }}'/>
      <mac address='{{ interface.mac_address }}'/>
      <source network='{{ isolated_network }}'/>
      <model type='{{ interface_type }}'/>
      <link state='down'/>
    </interface>

    {%     when ConnectionTypes::PrivateBridge %}
    <interface type='bridge'>
      <alias name='ua-net-{{ name }}-shared-bridge-{{ interface.name }}'/>
      <mac address='{{ interface.mac_address }}'/>
      <source bridge='{{ interface.name }}'/>
      <model type='{{ interface_type }}'/>
    </interface>

    {%     when ConnectionTypes::P2p %}
    <interface type='ethernet'>
      <alias name='ua-net-{{ name }}-p2p-{{ interface.name }}'/>
      <mac address='{{ interface.mac_address }}'/>
      <target dev='{{ interface.name }}'/>
      <script path=''/>
      <model type='{{ interface_type }}'/>
    </interface>

    {%     when ConnectionTypes::Peer %}
    {%       match interface.interface_connection %}
    {%         when Some with (interface_connection) %}
    <interface type='udp'>
      <alias name='ua-net-{{ name }}-p2p-{{ interface.name }}'/>
      <mac address='{{ interface.mac_address }}'/>
      <source address='{{ interface_connection.source_loopback }}' port='{{ interface_connection.source_port }}'>
        <local address='{{ interface_connection.local_loopback }}' port='{{ interface_connection.local_port }}'/>
      </source>
      <model type='{{ interface_type }}'/>
    </interface>
    {%         when None %}
    {%       endmatch %}

    {%     when ConnectionTypes::PeerBridge %}
    {%       match interface.interface_connection %}
    {%         when Some with (interface_connection) %}
    <interface type='bridge'>
      <alias name='ua-net-{{ name }}-p2p-bridge-{{ interface.name }}'/>
      <mac address='{{ interface.mac_address }}'/>
      <source bridge='{{ interface.name }}'/>
      <model type='{{ interface_type }}'/>
    </interface>
    {%         when None %}
    {%       endmatch %}

    {%   endmatch %}
    {% endfor %}

    <serial type='tcp'>
      <source mode='bind' host='{{ loopback_ipv4 }}' service='{{ telnet_port }}'/>
      <protocol type='telnet'/>
      <target type='isa-serial' port='0'>
        <model name='isa-serial'/>
      </target>
      <alias name='serial0'/>
    </serial>

    <console type='tcp'>
      <source mode='bind' host='{{ loopback_ipv4 }}' service='{{ telnet_port }}'/>
      <protocol type='telnet'/>
      <target type='serial' port='0'/>
      <alias name='serial0'/>
    </console>

  </devices>
</domain>
