frr version 10
frr defaults traditional
hostname {{ hostname }}
log syslog informational
service integrated-vtysh-config
!
{%- if let Some(mgmt_ipv4_address) = mgmt_ipv4_address %}
interface eth0
 ip address {{ mgmt_ipv4_address }}/{{ mgmt_ipv4.prefix_length }}
{%- if let Some(mgmt_ipv6_address) = mgmt_ipv6_address %}{% if let Some(mgmt_ipv6) = mgmt_ipv6 %}
 ipv6 address {{ mgmt_ipv6_address }}/{{ mgmt_ipv6.prefix_length }}
{%- endif %}{% endif %}
!
ip route 0.0.0.0/0 {{ mgmt_ipv4.first }}
{%- if let Some(mgmt_ipv6_address) = mgmt_ipv6_address %}{% if let Some(mgmt_ipv6) = mgmt_ipv6 %}
ipv6 route ::/0 {{ mgmt_ipv6.first }}
{%- endif %}{% endif %}
{%- endif %}
!
line vty
!
