!
feature bash-shell
feature nxapi
feature scp-server
feature lldp
!
hostname {{ hostname }}
!
username admin password 0 {{ shared::konst::SHERPA_PASSWORD }} role network-admin
{%- if let Some(password) = user.password %}
username {{ user.username }} password 0 {{ password }}
{%- endif %}
{%- if user.sudo %}
username {{ user.username }} role network-admin
{%- endif %}
username {{ user.username }} sshkey {{ user.ssh_public_key.algorithm }} {{ user.ssh_public_key.key }}
!
ip domain-name {{ dns.domain }}
{%- for server in dns.name_servers %}
ip name-server {{ server.ipv4_address }}
{%- endfor %}
!
vrf context management
!
ip route 0.0.0.0/0 {{ mgmt_ipv4.first }} vrf management
{%- if let Some(mgmt_ipv6_address) = mgmt_ipv6_address %}{% if let Some(mgmt_ipv6) = mgmt_ipv6 %}
ipv6 route ::/0 {{ mgmt_ipv6.first }} vrf management
{%- endif %}{% endif %}
!
interface mgmt0
  vrf member management
  {%- if let Some(mgmt_ipv4_address) = mgmt_ipv4_address %}
  ip address {{ mgmt_ipv4_address }}/{{ mgmt_ipv4.prefix_length }}
  {%- else %}
  ip address dhcp
  {%- endif %}
  {%- if let Some(mgmt_ipv6_address) = mgmt_ipv6_address %}{% if let Some(mgmt_ipv6) = mgmt_ipv6 %}
  ipv6 address {{ mgmt_ipv6_address }}/{{ mgmt_ipv6.prefix_length }}
  {%- endif %}{% endif %}
  no shutdown
!
line vty
  exec-timeout 0
!