!
console serial
!
interface Management0/0
 nameif management
 management-only
 security-level 0
 {%- if let Some(mgmt_ipv4_address) = mgmt_ipv4_address %}
 ip address {{ mgmt_ipv4_address }} {{ mgmt_ipv4.subnet_mask }}
 {%- else %}
 ip address dhcp
 {%- endif %}
 no shutdown
!
hostname {{ hostname }}
!
username enable_1 privilege 15
enable password {{ shared::konst::SHERPA_PASSWORD }}
username {{ user.username }} privilege 15
{%- if let Some(password) = user.password %} 
username {{ user.username }} password {{ password }}
{%- endif %}
!
aaa authentication ssh console LOCAL
aaa authentication http console LOCAL
aaa authorization exec LOCAL auto-enable
no ssh stack ciscossh
crypto key generate rsa modulus 2048 noconfirm
ssh 0.0.0.0 0.0.0.0 management
ssh scopy enable
http server enable
http 0.0.0.0 0.0.0.0 management
domain-name {{ dns.domain }}
route management 0.0.0.0 0.0.0.0 {{ mgmt_ipv4.first }}
!
username {{ user.username }} attributes
  ssh authentication publickey {{ user.ssh_public_key.key }} hashed
  {%- if user.sudo %}
  service-type admin
  {%- endif %}
!
names
dns domain-lookup management
{%- for server in dns.name_servers %}
dns name-server {{ server.ipv4_address }}
{%- endfor %}
!