!
hostname {{ hostname }}
domain name {{ dns.domain }}
{%- for server in dns.name_servers %}
domain name-server {{ server.ipv4_address }}
{%- endfor %}
username admin
 group root-lr
 group cisco-support
 secret 0 {{ konst::SHERPA_PASSWORD }}
!
username {{ user.username }}
{%- if user.sudo %}
 group root-lr
 group netadmin
{%- endif %}
{%- if let Some(password) = user.password %}
 secret 0 {{ password }}
{%- endif %}
!
aaa authorization exec default local
aaa authentication login default local
!
netconf-yang agent
 ssh
!
interface MgmtEth0/RP0/CPU0/0
 ipv4 address dhcp
 no shutdown
!
netconf agent tty
 session timeout 5
!
ssh server logging
!
ssh server username {{ user.username }}
 keystring {{ user.ssh_public_key.algorithm }} {{ user.ssh_public_key.key }}
!
ssh server v2
ssh server vrf default
ssh server netconf vrf default