!
hostname {{ hostname }}
dns domain {{ dns.domain }}
{%- for server in dns.name_servers %}
ip name-server {{ server.ipv4_address }}
{%- endfor %}
!
no aaa root
!
service routing protocols model multi-agent
!
aaa authorization exec default local
!
{%- for user in users %}
username {{ user.username }} privilege 15{% if let Some(password) = user.password %} secret {{ password }}{% endif %}
username {{ user.username }} ssh-key {{ user.ssh_public_key.algorithm }} {{ user.ssh_public_key.key }}
{%- endfor %}
!
interface Management1
   ip address dhcp
!
management api http-commands
   no shutdown
!
end
!