!
hostname {{ hostname }}
domain-name {{ dns.domain }}
{%- for server in dns.name_servers %}
ip dns server-address {{ server.ipv4_address }}
{%- endfor %}
user admin group administrators password plaintext {{ SHERPA_PASSWORD }}
user {{ user.username }} {% if user.sudo %} group administrators{% endif %}{% if let Some(password) = user.password %} password plaintext {{ password }}{% endif %}
user {{ user.username }} authorized-key {{ user.ssh_public_key.algorithm }} {{ user.ssh_public_key.key }}
!
ntp server pool.ntp.org minpoll 4 maxpoll 4 iburst
ntp enable
!
ssh server vrf mgmt
vlan 1
interface mgmt
    no shutdown
    ip dhcp
!
https-server vrf mgmt
!